html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header */

 .navbar a {
   font-family: 'Cormorant SC', serif;
   letter-spacing: 8px;
   font-weight: 500;
 }

 .nav a {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: 300;
  letter-spacing: 2.7px;
 }

 .nav a:hover{
  color: #F7A945;
  font-weight: 500;
 }

 /* Home Page Slider */

 .homepage-slider {
   background-color:#F6F6F4;
   height: 76vh;
 }

 .slider-text {
   margin-left: 15rem;
 }

 .line {
   border-top: 1px solid #000000;
   width: 27%;
   position: relative;
   top: 11%;
 }

 .slider-text h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 4rem;
 }

 .slider-text p {
   font-family: 'Poppins', sans-serif;
   font-size: 1.25rem;
   font-weight: 200;
 }

 .homepage-slider .swiper {
   width: 100vh;
   height: 35vh;
   position: absolute;
   bottom: 0;
}

 .homepage-slider .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

 /* Home Page Product */

 .product-card .card {
  width: 550px;
  height: 550px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 0;
  border: none;
 }

 .product-card .card-img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
 }
 
 .product-card .card-img-overlay {
  border-radius: 0;
  position: relative;
}

 .product-card-overlay {
   background-color: #FFFFFF;
   height: 10vh;
   width: 25vh;
   position: absolute;
   bottom: 0 !important;
 }

 .product-card .card-title {
   font-family: 'DM Serif Display', serif;
   font-weight: 500;
   font-size: 2.5rem;
 }

 .product-card .card-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: none;
}

.product-card:hover .product-card-overlay {
  background-color: #000000;
  height: 20vh;
  width: 30vh;
  color: #FFFFFF;
  transition: 0.4s;
}

.product-card:hover .card-text {
   display: block;
   color: #FFFFFF;
}

.product-card:hover .card-img {
   transform: scale(1.2);
}

 /* Product & Service*/

 .product-service {
   height: 60vh;
 }

 .product-service .mini-title {
   font-family: 'Qwitcher Grypen', cursive;
   font-size: 4rem;
 }

 .product-service h1, .product-service .service-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.product-service .text-area {
  width: 85%;
}

.product-service .text-area {
  padding: 5rem 0 5rem 25rem;
}

.product-service .product-service-area {
  background-color: #F6F6F4;
}

.product-service.flex-row-reverse .text-area {
  padding: 5rem 20rem 5rem 7rem;
}


 /* Home Page Contact */ 

.homepage-contact {
  background-color: #F6F6F4;
}

.homepage-contact h4 {
   font-family: 'DM Serif Display', serif;
   font-weight: 500;
}

.homepage-contact p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.homepage-contact button {
  background-color: #0f10024d;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.homepage-contact button:hover {
  background-color: #000000;
  color: #ffffff;
}

 /* Home Page Visual Card  */ 

 .home-visual .row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
 }

 .visual-card .card {
  width: 85vh;
  height: 37vh;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 0;
  border: none;
 }

 .visual-card .card-img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
 }

 .visual-card .card-img-overlay {
   border-radius: 0;
   position: relative;
 }

 .visual-card-overlay {
   position: absolute;
   bottom: 0 !important;
   background-color: #FFFFFF;
   height: 7vh;
   width: 23vh;
 }

 .visual-card .card-title {
   font-family: 'DM Serif Display', serif;
   font-weight: 500;
   font-size: 1.6rem;
   line-height: 0.95rem;
   letter-spacing: 0.1rem;
 }

 .visual-card .card-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: none;
}

.visual-card:hover .visual-card-overlay{
  height: 25vh;
  width: 30vh;
  transition: 0.4s;
  padding-top: 2.5rem;
}

.visual-card:hover .card-text {
   display: block;
}

.visual-card:hover .card-img {
   transform: scale(1.2);
}

.visual-card-large .card {
  overflow: hidden;
  border-radius: 0;
  border: none;
 }

 .visual-card-large .card-img {
  height: 74vh !important;
  transition: all 0.3s;
  display: block;
  transform: scale(1);
 }

 .visual-card-large .card-img-overlay {
   padding: 2rem 5rem 5rem 17rem;
   background-color: #FFFFFF;
   height: 25vh;
   width: 75vh;
   border-radius: 0;
   position: absolute;
   top: 67%;
 }

 .visual-card-large .card-title {
   font-family: 'DM Serif Display', serif;
   font-weight: 500;
   font-size: 2rem;
 }

 .visual-card-large .card-text {
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
}

.visual-card-large:hover .card-img {
   transform: scale(1.2);
}

.visual-card-large button {
   font-family: 'Poppins', sans-serif;
   font-weight: 500 !important;
   letter-spacing: 0.1rem;
}

/* Home Page Product Bottom */

.product-card-bottom .card {
  width: 550px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 0;
  border: none;
 }

 .product-card-bottom .card-img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
 }

 .product-card-bottom .card-img-overlay {
   border-radius: 0;
   position: relative;
 }

 .product-card-bottom-overlay {
   background-color: #FFFFFF;
   height: 6vh;
   width: 18vh;
   position: absolute;
   bottom: 0 !important;
 }

 .product-card-bottom .card-title {
   font-family: 'DM Serif Display', serif;
   font-weight: 500;
   font-size: 1.7rem;
 }

 .product-card-bottom .card-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: none;
  font-size: 0.9rem;
}

.product-card-bottom:hover .product-card-bottom-overlay {
  background-color: #000000;
  height: 23vh;
  width: 33vh;
  color: #FFFFFF;
  transition: 0.4s;
  padding-top: 1rem;
}

.product-card-bottom:hover .card-text {
   display: block;
   color: #FFFFFF;
}

.product-card-bottom:hover .card-img {
   transform: scale(1.2);
}


/* Home Page Bottom Slider */

.slider-bottom {
  background-color: #F6F6F4;
  height: 90vh;
}

.slider-bottom h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
  letter-spacing: 0.1rem;
 }

 .slider-bottom hr {
    border-top: 1px solid #000000;
    width: 38%;
 }

 .slider-bottom .swiper {
   width: 100%;
   height: 50vh;
}

 .slider-bottom .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;

 }

 /* Footer */

 .footer {
   background-color:#000000;
 }

 .footer h3 {
   color: #FFFFFF;
   font-family: 'Cormorant SC', serif;
   letter-spacing: 0.5rem;
   font-weight: 600;
}

.footer p {
   color: #FFFFFF;
   font-family: 'Poppins', sans-serif;
   letter-spacing: 0.1rem;
   font-size: 0.7rem;
}
