html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header */

 .navbar a {
   font-family: 'Cormorant SC', serif;
   letter-spacing: 8px;
   font-weight: 500;
 }

 .nav a {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: 300;
  letter-spacing: 2.7px;
 }

 .nav a:hover{
  color: #F7A945;
  font-weight: 500;
 }

 /* Home Page Slider */

 .homepage-slider {
   background-color:#F6F6F4;
   height: 80vh;
 }

 .slider-text {
  margin-left: 15rem;
 }

 .line {
   border-top: 1px solid #000000;
   width: 27%;
   position: relative;
   top: 11%;
 }

 .slider-text h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 4rem;
 }

 .slider-text p {
   font-family: 'Poppins', sans-serif;
   font-size: 1.25rem;
   font-weight: 200;
 }

 .swiper {
  width: 100vh;
  height: 35vh;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 /* Home Page Product */

 .product-card .card {
  width: 550px;
  height: 550px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 0;
  border: none;
 }

 .product-card .card-img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
 }

 .product-card .card-img-overlay {
   background-color: #FFFFFF;
   height: 10vh;
   width: 25vh;
   border-radius: 0;
   position: absolute;
   top: 86.1%;
 }

 .product-card .card-title {
   font-family: 'DM Serif Display', serif;
   font-weight: 500;
   font-size: 2.5rem;
 }

 .product-card .card-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: none;
}

.product-card:hover .card-img-overlay{
  background-color: #000000;
  height: 20vh;
  width: 30vh;
  color: #FFFFFF;
  top: 68%;
  transition: 0.4s;
}

.product-card:hover .card-text {
   display: block;
   color: #FFFFFF;
}

.product-card:hover .card-img {
   transform: scale(1.2);
}

 /* Product & Service*/

 .product-service {
   height: 60vh;
 }

 .product-service .mini-title {
   font-family: 'Qwitcher Grypen', cursive;
   font-size: 4rem;
 }

 .product-service h1, .product-service .service-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.product-service .text-area {
  width: 85%;
}

.product-service .area-left .text-area {
  padding: 5rem 0 5rem 25rem;
}

.product-service .area-left {
  background-color: #F6F6F4;
}

.product-service .area-right .text-area {
  padding: 5rem 20rem 5rem 7rem;
}


 /* Home Page Contact */ 

.homepage-contact {
  background-color: #F6F6F4;
}

.homepage-contact h4 {
   font-family: 'DM Serif Display', serif;
   font-weight: 500;
}

.homepage-contact p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.homepage-contact button {
  background-color: #0f10024d;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.homepage-contact button:hover {
  background-color: #000000;
  color: #ffffff;
}